{% extends 'base.html' %}
{% block 'content' %}
<div id="login-section" class="flex items-center justify-center">
    <form action="{% url 'author_login' %}" method="POST" class="pt-10 shadow-lg bg-base-300">
    {% csrf_token %}
 

    <div class="h-full my-10 form-control p-9">

            {% if error %}
            <div class="my-2 alert alert-error">
                <svg xmlns="http://www.w3.org/2000/svg" class="flex-shrink-0 w-6 h-6 stroke-current" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
                <span>{{error}}</span>
            </div>
            {%endif%}
            <label class="my-2 input-group">
              <span class="w-32 bg-base-200">Email</span>
              <input type="email" name="email" class="flex-1 input input-bordered" required/>
              </label>

            <label class="my-2 input-group">
                    <span class="w-32 bg-base-200">Password</span>
                    <input type="password" name="password" class="flex-1 input input-bordered" required/>
              </label>
              <div class="flex items-center">
            </div>

            <button type="submit" class="w-1/2 mx-auto my-4 rounded-lg btn btn-primary">Log in</button>
      </div>
    </form> 
</div>
{% endblock %}